// @import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");

// /* Local Benzin font faces (served from public/assets/fonts) */
// @font-face {
//   font-family: "Benzin";
//   src: url("/assets/fonts/Benzin-ExtraBold.eot");
//   src:
//     local("☞Benzin ExtraBold"),
//     local("Benzin-ExtraBold"),
//     url("/assets/fonts/Benzin-ExtraBold.eot?#iefix") format("embedded-opentype"),
//     url("/assets/fonts/Benzin-ExtraBold.woff2") format("woff2"),
//     url("/assets/fonts/Benzin-ExtraBold.woff") format("woff"),
//     url("/assets/fonts/Benzin-ExtraBold.ttf") format("truetype");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Benzin";
//   src: url("/assets/fonts/Benzin-Medium.eot");
//   src:
//     local("☞Benzin Medium"),
//     local("Benzin-Medium"),
//     url("/assets/fonts/Benzin-Medium.eot?#iefix") format("embedded-opentype"),
//     url("/assets/fonts/Benzin-Medium.woff2") format("woff2"),
//     url("/assets/fonts/Benzin-Medium.woff") format("woff"),
//     url("/assets/fonts/Benzin-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Benzin";
//   src: url("/assets/fonts/Benzin-Bold.eot");
//   src:
//     local("☞Benzin Bold"),
//     local("Benzin-Bold"),
//     url("/assets/fonts/Benzin-Bold.eot?#iefix") format("embedded-opentype"),
//     url("/assets/fonts/Benzin-Bold.woff2") format("woff2"),
//     url("/assets/fonts/Benzin-Bold.woff") format("woff"),
//     url("/assets/fonts/Benzin-Bold.ttf") format("truetype");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Benzin";
//   src: url("/assets/fonts/Benzin-Semibold.eot");
//   src:
//     local("☞Benzin Semibold"),
//     local("Benzin-Semibold"),
//     url("/assets/fonts/Benzin-Semibold.eot?#iefix") format("embedded-opentype"),
//     url("/assets/fonts/Benzin-Semibold.woff2") format("woff2"),
//     url("/assets/fonts/Benzin-Semibold.woff") format("woff"),
//     url("/assets/fonts/Benzin-Semibold.ttf") format("truetype");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Benzin";
//   src: url("/assets/fonts/Benzin-Regular.eot");
//   src:
//     local("☞Benzin Regular"),
//     local("Benzin-Regular"),
//     url("/assets/fonts/Benzin-Regular.eot?#iefix") format("embedded-opentype"),
//     url("/assets/fonts/Benzin-Regular.woff2") format("woff2"),
//     url("/assets/fonts/Benzin-Regular.woff") format("woff"),
//     url("/assets/fonts/Benzin-Regular.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// /* Tailwind layers */
// @import "tailwindcss";

// /* Third-party styles used by the app */
// @import "swiper/swiper-bundle.css";
